<div id="illustrations-topic">
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="menuTopic">{{selectedDemo}}</button>
      <mat-menu #menuTopic="matMenu">
        <button mat-menu-item
                *ngFor="let demo of modulesList"
                (click)="selectedDemo = demo">
          {{demo}}
        </button>
      </mat-menu>
      <span>&#10003;</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<app-illustrations-artificialintelligence-logicalagent
  *ngIf="selectedDemo == 'Artificial Intelligence / Model Filtering'">
</app-illustrations-artificialintelligence-logicalagent>
<app-illustrations-molecularchemistry-moleculerender
  *ngIf="selectedDemo == 'Molecular Chemistry / Molecule Render'">
</app-illustrations-molecularchemistry-moleculerender>
