<div class="container mt-5">
  <h2 class="display-6 text-center mb-4">Lecture Video</h2>
  <p class="text-center mb-5">Here's a talk by me on Variational AutoEncoders. This was presented by me in CVIT summer school while I was in college.</p>
  
  <div class="row mb-5">
    <div class="col-12 video-container">
        <!-- YouTube Embed -->
      <iframe src="https://www.youtube.com/embed/geTrTBi5bSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Presentation Slides</h2>

  <div class="row">
    <div class="col-12 slides-container">
        <!-- Google Slides Embed -->
      <iframe src="https://docs.google.com/presentation/d/1AuAr5JQH025OPVGMUyQ5iLUmFqf0UhndiyPkgXWpNpo/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    <div class="col-12 mt-3 text-center">
        <a href="https://docs.google.com/presentation/d/1AuAr5JQH025OPVGMUyQ5iLUmFqf0UhndiyPkgXWpNpo/edit?usp=sharing" target="_blank" class="btn btn-outline-primary">Open Slides in New Tab</a>
    </div>
  </div>
</div>
