<div class="container">
  <div class="row page-heading">
    <h1 class="display-2">Projects I am excited by:</h1>
  </div>
  <div class="row">
    <div *ngFor="let project of projects" class="col-lg-6 card-container">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="{{ project.logo }}" alt="Project Icon">
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ project.logo }}" height="200px"
          alt="Project Icon">
        <mat-card-content>
          <p>
            {{ project.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row page-heading">
    <h1 class="display-2">Teams I am a part of:</h1>
  </div>
  <div class="row">
    <div *ngFor="let team of teams" class="col-lg-4 card-container">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="{{ team.logo }}" alt="Team Logo">
          <mat-card-title>{{ team.name }}</mat-card-title>
          <mat-card-subtitle>{{ team.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ team.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>