<div class="container text-center">
  <!-- User logged in -->
  <div *ngIf="auth.currentUser">
    <h1 class="display-3">Howdy, {{ auth.currentUser.displayName }}</h1>
    <img
      [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'"
      width=200px class="img-thumbnail">

    <div>
      <button mat-button (click)="signOutWithGoogle()" class="btn"
        id="google-signin">
        <span class="icon"></span>
        <span class="label">Sign Out from your Google account</span>
      </button>
    </div>

    <div class="display-5">The Google account you logged in with does not have
      an associated username or registered privaledges. If you have an account
      here, please login with your IIIT account.</div>
  </div>
  <!-- User NOT logged in -->
  <div *ngIf="!auth.currentUser">
    <h1 class="display-3">Howdy There!</h1>

    <div>
      <button mat-button (click)="signInWithGoogle()" class="btn"
        id="google-signin">
        <span class="icon"></span>
        <span class="label">Login with Google</span>
      </button>
    </div>

  </div>
</div>