<div class="container text-center" style="max-width: 1500px;">
  <h1 class="display-1">
    Hi, I am Animesh.
  </h1>
  <h2 class="display-4" style="font-size: 40px;">
    It's a pleasure to meet you! I am a Computer Science student at
    International Institute of Information Technology, Hyderabad. I am really
    into Machine Learning and Algorithmic Theory and aspire to get better at
    Mathematics, Chess, Physics and Quantum Computation.
  </h2>
</div>

<div class="container text-center">
  <h2 class="display-3">College <a href="/projects">Teams</a></h2>
  <div class="row">
    <div class="col-sm-2">
      <img src="assets/teams/logo_aclimitexceeded.png" width="100%" />
      <div class="font-weight-bold">AC Limit Exceeded</div>
      <div>Algorithmic Theory</div>
    </div>
    <div class="col-sm-2">
      <img src="assets/teams/logo_bayesianmechanics.png" width="100%" />
      <div class="font-weight-bold">Bayesian Mechanics</div>
      <div>Machine Learning</div>
    </div>
    <div class="col-sm-2">
      <img src="assets/teams/logo_occamsrazor.png" width="100%" />
      <div class="font-weight-bold">Occams Razor</div>
      <div>Software Development</div>
    </div>
    <div class="col-sm-2">
      <img src="assets/teams/logo_bowserscastle.png" width="100%" />
      <div class="font-weight-bold">Bowsers Castle</div>
      <div>Security Engineering</div>
    </div>
    <div class="col-sm-2">
      <img src="assets/teams/logo_optimisticoptimizations.png" width="100%" />
      <div class="font-weight-bold">Optimistic Optimizations</div>
      <div>Approximation Algorithms</div>
    </div>
    <div class="col-sm-2">
      <img src="assets/teams/logo_phymlqgroup.png" width="100%" />
      <div class="font-weight-bold">Phymlq Group</div>
      <div>Computational Physics</div>
    </div>
  </div>
</div>

<div class="container text-center">
  <h2 class="display-3">Exciting <a href="/projects">Projects</a></h2>
  <div class="row">
    <div class="project-item col-sm-6 col-lg-4 col-xs-12">
      <div class="border-box">
        <div class="font-weight-bold">Qubit Routing</div>
        <div>Using Reinforcement Learning in combinatorial action spaces to map
          logical qubits to physical qubits in such a way to minimize the depth
          of
          the resulting circuit. So in totality it's an attempt at efficient
          quantum compilation.</div>
      </div>
    </div>
    <div class="project-item col-sm-6 col-lg-4 col-xs-12">
      <div class="border-box">
        <div class="font-weight-bold">Particle Tagging</div>
        <div>Using Graph Convolutions to classify images of particle showers in
          calorimeters of particle accelerators, to classify what source
          particle
          the jet came from and what substructures in the jet lead to this
          classification.</div>
      </div>
    </div>
    <div class="project-item col-sm-6 col-lg-4 col-xs-12">
      <div class="border-box">
        <div class="font-weight-bold">Food Segmentation</div>
        <div>Standard task of Semantic Segmentation on a messy long tailed
          distribution which gives us a chance to experiment with standard
          convolution nets and frameworks like Facebook Detectron. This is being
          undertaked for an intership at AICrowd.</div>
      </div>
    </div>
  </div>
</div>